<div id="maincontainer">     
  <div id="contentwrapper">
      
    <div id="contentcolumn">
      <div class="innertube">

        <h1 id="c4k-title" class="ir">Coding 4 Kicks</h1>
        <img id="rabbit" src="images/index/rabbit.png" />
        <h3 id="tricky-words" class="ir">Silly rabbit, kicks are for kids...</h3>
        <a href="" ng-click="randomSong()" ><h3 id="identity" class="ir">lambda(x) = x</h3></a>
        <div id="buy-buy-buy" class="changeling" 
          ng-mouseover="caveatEmptorSrc='images/index/caveat-emptor-on.jpg';
                        caveatEmptorImg='images/index/please-buy-on.png'"
          ng-mouseleave="caveatEmptorSrc='images/index/caveat-emptor.jpg';
                         caveatEmptorImg='images/index/please-buy.png'">
            <a ng-href="#/caveat-emptor">
              <h3 ng-hide="true" class="ir">Caveat Emptor</h3>
              <img id="please-buy" src="{{caveatEmptorImg}}" />
              <img id="buy-pic" src="{{caveatEmptorSrc}}" />
            </a>
        </div>
      </div>
      
    </div>
  </div>

  <div id="leftcolumn">
    <div class="innertube">

      <div id="machinations" class="changeling" 
        ng-mouseover="machineIntelSrc='images/index/machine-intel-on.png';
                      machineIntelImg='images/index/machine-words-on.png'"
        ng-mouseleave="machineIntelSrc='images/index/machine-intel.png';
                       machineIntelImg='images/index/machine-words.png'">
          <a ng-href="#/rabbithole/machine-intel">
            <h3 ng-hide="true" class="ir">Machine-Intel</h3>
            <img id="machine-words" src="{{machineIntelImg}}" />
            <img id="machine-pic" src="{{machineIntelSrc}}" />
          </a>
      </div>

      <div id="puddy" class="changeling" 
        ng-mouseover="softDevSrc='images/index/soft-dev-on.png';
                      softDevImg='images/index/soft-words-on.png'"
        ng-mouseleave="softDevSrc='images/index/soft-dev.png';
                       softDevImg='images/index/soft-words.png'">
          <a ng-href="#/rabbithole/soft-dev">
            <h3 ng-hide="true" class="ir">soft-Dev</h3>
            <img id="soft-words" src="{{softDevImg}}" />
            <img id="soft-pic" src="{{softDevSrc}}" />
          </a>
      </div>

      <div id="poo-poo-you" class="changeling" 
        ng-mouseover="manureShipSrc='images/index/entremanureship-on.png';
                      manureShipImg='images/index/manure-words-on.png'"
        ng-mouseleave="manureShipSrc='images/index/entremanureship.png';
                       manureShipImg='images/index/manure-words.png'">
          <a ng-href="#/rabbithole/entremanureship">
            <h3 ng-hide="true" class="ir">Entremanureship</h3>
            <img id="manure-words" src="{{manureShipImg}}" />
            <img id="manure-pic" src="{{manureShipSrc}}" />
          </a>
      </div>

      <div class="changeling" 
        ng-mouseover="whoAmISrc='images/index/whoami-on.png'"
        ng-mouseleave="whoAmISrc='images/index/whoami.png'">
          <a ng-href="#/whoami">
            <h3 ng-hide="true" class="ir">whoami</h3>
            <img id="whoami" src="{{whoAmISrc}}" />
          </a>
      </div>

      </div>
  </div>
  
  <div id="rightcolumn">
    <div class="innertube">
          
      <div id="slick-willy" class="changeling" 
        ng-mouseover="frontEndSrc='images/index/front-end-on.png';
                      frontEndImg='images/index/front-words-on.png'"
        ng-mouseleave="frontEndSrc='images/index/front-end.png';
                       frontEndImg='images/index/front-words.png'">
          <a ng-href="#/rabbithole/front-end">
            <h3 ng-hide="true" class="ir">Front-End</h3>
            <img id="front-words" src="{{frontEndImg}}" />
            <img id="front-pic" src="{{frontEndSrc}}" />
          </a>
      </div>


      <div id="wizards" class="changeling" 
        ng-mouseover="backEndSrc='images/index/back-end-on.png';
                      backEndImg='images/index/back-words-on.png'"
        ng-mouseleave="backEndSrc='images/index/back-end.png';
                       backEndImg='images/index/back-words.png'">
          <a ng-href="#/rabbithole/back-end">
            <h3 ng-hide="true" class="ir">Back-End</h3>
            <img id="back-words" src="{{backEndImg}}" />
            <img id="back-pic" src="{{backEndSrc}}" />
          </a>
      </div>

      <div id="do-not-listen" class="changeling" 
        ng-mouseover="badAdviceSrc='images/index/bad-advice-on.png';
                      badAdviceImg='images/index/bad-words-on.png'"
        ng-mouseleave="badAdviceSrc='images/index/bad-advice.png';
                       badAdviceImg='images/index/bad-words.png'">
          <a ng-href="#/bad-advice">
            <h3 ng-hide="true" class="ir">Bad Advice</h3>
            <img id="bad-words" src="{{badAdviceImg}}" />
            <img id="bad-pic" src="{{badAdviceSrc}}" />
          </a>
      </div>

      <div class="changeling" 
        ng-mouseover="iDigressSrc='images/index/i-digress-on.png'"
        ng-mouseleave="iDigressSrc='images/index/i-digress.png'">
          <a ng-href="#/digressions">
            <h3 ng-hide="true" class="ir">I digress</h3>
            <img id="digress" src="{{iDigressSrc}}" />
          </a>
      </div>

    </div>
  </div>
</div>

