<div class="whoami">
  <h2>>>> A former stick-monkey making a transition to code-monkey.</h2>

  <div>
    <a ng-href="http://www.aerocatures.com/" target="_blank">
      <img src="images/whoami/stick-monkey1.jpg" alt="Image of plane and carrier by Hank Caruso"/>
    </a>
  </div>

  <h3>goto</h3>

  <div>
    <a ng-href="http://www.plognark.com/node?page=7" target="_blank">
      <img src="images/whoami/code_monkey.jpg" alt="Image of code monkey by Plognark"/>
    </a>
  </div>

  <h2>>>> Along the way, attempting to create something more significant than a hangover.</h2>

</div>


